.wrapper {
  padding: 40px 24px 86px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.top {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  align-items: center;
  margin-inline: auto;
}

.heading {
  color: #e16e4e;
  font-family: "Bitter", serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.topBody {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #202020;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.faqs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 570px;
}

.faq {
  display: flex;
  gap: 24px;
}

.bottomTexts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.number {
  color: #e16e4e;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.bottomHeading {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  color: #333333;
}

.bottomBody {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  color: #666666;
}

.button {
  display: flex;
}

.button > * {
  margin-inline: auto;
}

@media (min-width: 400px) {
  .topBody {
    font-size: 18px;
    line-height: 32px;
  }

  .faq {
    gap: 40px;
  }

  .bottomTexts {
    gap: 4px;
  }
}

@media (min-width: 700px) {
  .wrapper {
    align-items: center;
    padding: 60px 40px 100px;
    gap: 48px;
  }

  .top {
    gap: 4px;
  }

  .heading {
    font-size: 40px;
    line-height: 52px;
  }

  .bottom {
    gap: 40px;
  }

  .number {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 1350px) {
  .wrapper {
    align-items: center;
    padding: 96px 40px 120px;
    gap: 56px;
  }

  .heading {
    font-size: 48px;
    line-height: 56px;
  }

  .top {
    gap: 8px;
  }

  .bottom {
    gap: 56px;
  }
}
